div{
    
    height: 100px;
    width: 400px;
    border: black 2px solid;
    margin: auto;
    
}
button{
    height: 30px;
    width: 200px;
    margin: 10px;
}
body{
    background-color: lightgrey;
    text-align: center;
    justify-content: center;
    margin: 100px;
}